*.py[cod]
*$py.class
*.obj
*.txt
!cooking.preprocessed.txt
!cooking.stackexchange.txt
.venv
venv/
fastText/
.fastText
.*.swp
*.o
*.bin
*.vec
*.bc
.DS_Store
fasttext
result
website/node_modules/
package-lock.json
node_modules/

